# Virtual environment
.venv/

# Environment variables / API keys
.env

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Python packaging
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db